{{- $nav := . -}}
{{- if or $nav.showCategories $nav.showTags $nav.custom -}}
<div class="nav wrap ml-auto">




    
<nav class="nav">
    <ul class="navbar-nav ">

        {{- if $nav.showCategories -}}
            <li class="nav-item">
                <a class="nav item nav-link" href="{{- `/categories/` | relLangURL -}}">{{- T "Categories" -}}</a>
            </li>
        
            {{- end -}}
    {{- if $nav.showTags -}}
        <li class="nav-item">
            <a class="nav item nav-link" href="{{- `/tags/` | relLangURL -}}">{{- T "Tags" -}}</a>
        </li>
    {{- end -}}
    {{- range $nav.custom -}}
        {{- $url := replace .url "#" "%23" -}}
        {{- $url = replace $url "." "%2e" -}}
        {{- $url = $url | safeURL -}}
        {{- if strings.HasPrefix $url "/" -}}{{- $url = $url | relLangURL -}}{{- end -}}
        <li class="nav-item">
        <a class="nav item nav-link" href="{{- $url -}}" 
            {{- if strings.HasPrefix $url "http" -}}target="_blank"
            {{- end -}}>{{- .title -}}</a>
        </li>
    {{- end -}}
    
    </ul>
    
</nav>
</div>
{{- end -}}

