<div class="container">
  <p class="subtitle">
    My learnings in the form of articles, tutorials and casual posts.
  </p>

  <div class="search-form">
    <div class="row">
      <div class="col-12">
        <form
          id="search"
          action='{{ with .GetPage "/search" }}{{.Permalink}}{{end}}'
          method="get"
        >
          <label hidden for="search-input">Search site</label>
          <input
            type="text"
            id="search-input"
            name="query"
            placeholder="Search for anything..."
          />
        </form>
      </div>
    </div>
  </div>
</div>
