<section class="section">
  <!-- <div class="container">  -->
  <nav id="nav-main" class="nav">
    <div id="nav-name" class="nav-left">
      <a id="nav-anchor" class="nav-item" href="{{ .Site.BaseURL }}">
        <h1 id="nav-heading" class="title is-4">{{ .Site.Title }}</h1>
      </a>
    </div>
    <div class="nav-right">
      <nav id="nav-items" class="nav-item level is-mobile">
        <nav class="nav-links">
          <a href="/about">About Me</a>
        </nav>
        <nav class="nav-links">
          <a href="/projects">Projects</a>
        </nav>
        <nav class="nav-links">
          <a href="/newsletter">Newsletter</a>
        </nav>
        <nav class="nav-links">
          <a href="/contact">Contact</a>
        </nav>
      </nav>
    </div>
  </nav>

  <nav class="nav">
    {{ if (isset .Site.Params "sections_left" ) }}
    <div class="nav-left">
      {{- range $section, $printable := .Site.Params.sections_left -}}
      {{- if  $printable -}}
      <a class="nav-item" href="{{$section}}">
        <h2 class="title is-5">{{$printable}}</h2>
      </a>
      {{- end -}}
      {{- end -}}
    </div>
    {{ end }}
    {{ if (isset .Site.Params "sections_right" ) }}
    <div class="nav-right">
      {{- range $section, $printable := .Site.Params.sections_right -}}
      {{- if $printable -}}
      <a class="nav-item" href="{{$section}}">
        <h2 class="title is-5">{{$printable}}</h2>
      </a>
      {{- end -}} {{- end -}}
    </div>
    {{ end }}
  </nav>

  <!-- </div> -->
  <script src="/js/navicon-shift.js"></script>
</section>