
<section id="footer">
    <div class="footer wrap mt-5">
        <div class="container">
            <div class="nav wrap mb-3">
                <nav class="nav w-100 d-flex text-center align-items-center justify-content-center">
                  <a class="nav item" href="/to-the-point">To-The-Point</a>
                  <a class="nav item" href="/projects">Projects</a>
                  <a class="nav item" href="/ebooks">Ebook</a>
                  <a class="nav item" href="/about">About</a>
                  <a class="nav item" href="https://github.com/schadokar/resume/blob/main/ShubhamChadokar_Resume.pdf" target="_blank">Resume</a>
                </nav>
            </div>
        </div>
        <div class="footer flex justify-center social-icon">
                {{ range .Site.Menus.social }}
                    <a href="{{ .URL }}" class="navbar-item is-hidden-desktop" title="{{ .Name }}">
                        <span
                            class="icon">{{ .Pre }}
                        </span>
                    </a>
                {{ end }}
            {{- $copyright := site.Copyright -}}
            {{- if not $copyright -}}
                {{- $copyright = site.Title | safeHTML -}}
            {{- end -}}
            {{- partial "copyright.html" ($copyright | safeHTML) -}}
        </div>
        <span class="footer right-side d-none">
            {{- partial "navigation-items.html" site.Params.footer -}}
        </span>
        
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{{- partial "math.html" . -}}
{{- partial "syntax.html" . -}}
{{- template "_internal/google_analytics_async.html" . -}}
{{- partial "custom-js.html" . -}}
