{{- define "main" -}}
    {{- $paginator := .Paginator -}}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <section class="article header"><h1 class="text-left">{{- .Title -}} </h1></section>
            </div>
        </div>
    </div>




    {{if eq .URL "/posts/"}}
        {{ partial "search-form.html" . }}
        {{ partial "search-index.html" . }}
    {{end}}

    {{- partial "section-body.html" . -}}
    <!-- Ranges through content/posts/*.md -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{- partial "note-list.html" $paginator -}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{- partial "pagination.html" $paginator -}}
            </div>
        </div>
    </div>

    

{{- end -}}