{{ define "main" }}
  <article class="max-w-prose">
    <header>
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
    </header>
  </br>
  </br>
    <section class="prose dark:prose-invert">
      {{ .Content | emojify }}
    </section>
    <section>
      <iframe src="https://schadokar.substack.com/embed" width="700" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
    </section>
    <footer class="pt-8 max-w-prose print:hidden">
      {{ partial "author.html" . }}
    </footer>
  </article>
{{ end }}
