{{- define "main" -}}

<div id="articles">
		<section id="ebooks" class="space container">
		  <div class="artheader">
		    <h4>Ebooks</h4>
		  </div>
		  {{ range .Site.Data.ebooks }}
		  <div class="ebook row">
		    <div class="col-3">
					 <img src="{{.cover}}" />
		    </div>
		    <div class="flex col-9">
		        <h3>{{.title}}</h3>
		      <div class="description">{{.description}}</div>
					<a class="button m-0" href="{{.source}}" target="_blank" rel="noreferrer"
						>Download</a>
		    </div>

		  </div>
		  {{end}}
		</section>

</div>
{{- end -}}
