{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 0 -}}
{{- $dateFormat := site.Params.dateFormat -}}
{{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
<ul class="note list">
    {{- range $paginator.Pages -}}
      {{- $relURL := replace .RelPermalink "#" "%23" -}}
      {{- $relURL = replace $relURL "." "%2e" -}}
    <li class="item"><a class="note row" href="{{- $relURL -}}">
            {{ with .Params.cover }}
            <div class="col-4">
              <img src="{{ index . }}" alt="cover missing" class="img-fluid">
            </div>
              
            {{ end }}
            <div class="col-8">
              <p class="note title">{{- .Title | safeHTML -}}</p>
         
            {{- if .Description -}}<p class="note content">{{- .Description | plainify | safeHTML -}}{{- if .Truncated -}}<span class="mldr">&mldr;</span>{{- end -}}</p>{{- end -}}

            </div>
            
        </a>
        {{- partial "note-labels.html" . -}}
    </li>
    {{- end -}}
</ul>
{{- end -}}