<section id="latest" class="space">
    <div class="artheader">
        <h3>Ebooks</h3>
        <a class="pill" href="/ebooks/">View all</a>
    </div>
    <div class="posts">
         {{ range .Site.Data.ebooks }}
         <div class="ebook row">
           <div class="col-9">
             <a href="{{.source}}" target="_blank" rel="noreferrer">
               <!-- <div class="icon"><i class="fa {{.icon}}"></i></div> -->
               <h3>{{.title}}</h3>
             </a>
             <div class="description">{{.description}}</div>
           </div>
           <div class="flex col-3 text-center">
             <a class="button m-0" href="{{.source}}" target="_blank" rel="noreferrer"
               >Download</a>
           </div>
         </div>
        {{end}}
    </div>
</section>
