<section class="hero">
	<div class="hero-wrap">
		<div class="container">
			<div>
				<img src="images/pic.png" alt="no image yet" class="avtar">
			</div>
			<div>
				<h3>I'm Shubham Chadokar</h3>
				<p>I'm a software engineer and writer. This website is my digital garden — a compendium of the things I've learned and created over the years.</p>
				<div class="btntrio">
					<a href="" class="button">About me</a>
					<a href="" class="button">Join newsletter</a>
					<a href="" class="button">GitHub</a>
					
				</div>
			</div>
		</div>
	</div>
</section>