<section class="hero">
	<div class="hero-wrap">
		<div class="container">
			<div>
				<h3>I'm {{ .Site.Params.profile.name}}</h3>
				<p>{{ .Site.Params.profile.description}}</p>
				<div class="btntrio">
					<a href="/about/" class="button">About me</a>
					<a href="https://twitter.com/{{ .Site.Params.profile.twitter}}" class="button">Twitter</a>
					<a href="https://github.com/{{ .Site.Params.profile.github}}" class="button">GitHub</a>
				</div>
			</div>
			<div class="hero-img">
				<img src="{{ .Site.Params.profile.avatar}}" alt="{{ .Site.Params.profile.name}}" class="avtar">
			</div>
		</div>
	</div>
</section>
