<section id="latest" class="space">
    <div class="artheader">
        <h3>To The Point</h3>
        <a class="pill" href="/to-the-point/">View all</a>
    </div>
    <div class="posts">
        {{- range ( where site.RegularPages "Section" "to-the-point" | first 10 ) }}
            <div class="post">
                <a href="{{.URL}}">
                    <div class="post-row">
                        <time>
                              {{ dateFormat "Jan 02" .Date }}
                        </time>
                        <h3>{{.Title}}</h3>
                    </div>
                </a>
            </div>
        {{end}}
    </div>
</section>
