{{- define "main" -}}

	<div id="articles">
		<div class="container">
			{{- partial "latest.html" .  -}}
			{{- partial "popular.html" .  -}}
			{{- partial "points.html" .  -}}
			{{- partial "projects.html" .  -}}
			{{- partial "ebook.html" .  -}}
		</div>
	</div>

	<!-- <div id="interview" class="d-none">
		<div class="container">
			<section class="interview space">
				<div class="artheader">
					<h3>Interviews</h3>
				</div>
				<div class="guide-page">
					<div class="guide">
						<div>
							<a href="#" class="image-link">
								<img src="#" alt="techy" height="50" width="50">
							</a>
						</div>
						<div>
							<a href="#" class="image-link">
								<h2>Web Developer: Shubham Chadokar</h2>
							</a>
							<p class="description">Interview with Ellen Twomey on the You are techY Podcast</p>
						</div>
					</div>
					<div class="guide">
						<div>
							<a href="#" class="image-link">
								<img src="#" alt="techy" height="50" width="50">
							</a>
						</div>
						<div>
							<a href="#" class="image-link">
								<h2>Web Developer: Shubham Chadokar</h2>
							</a>
							<p class="description">Interview with Ellen Twomey on the You are techY Podcast</p>
						</div>
					</div>
					<div class="guide">
						<div>
							<a href="#" class="image-link">
								<img src="#" alt="techy" height="50" width="50">
							</a>
						</div>
						<div>
							<a href="#" class="image-link">
								<h2>Web Developer: Shubham Chadokar</h2>
							</a>
							<p class="description">Interview with Ellen Twomey on the You are techY Podcast</p>
						</div>
					</div>
					<div class="guide">
						<div>
							<a href="#" class="image-link">
								<img src="#" alt="techy" height="50" width="50">
							</a>
						</div>
						<div>
							<a href="#" class="image-link">
								<h2>Web Developer: Shubham Chadokar</h2>
							</a>
							<p class="description">Interview with Ellen Twomey on the You are techY Podcast</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div id="Speaking"  class="d-none">
		<div class="container">
			<section class="interview space">
				<div class="artheader">
					<h3>Speaking</h3>
				</div>
				<div class="guide-page">
					<div class="guide">
						<div>
							<a href="#" class="image-link">
								<img src="#" alt="techy" height="50" width="50">
							</a>
						</div>
						<div>
							<a href="#" class="image-link">
								<h2>Web Developer: Shubham Chadokar</h2>
							</a>
							<p class="description">Interview with Ellen Twomey on the You are techY Podcast</p>
						</div>
					</div>
					<div class="guide">
						<div>
							<a href="#" class="image-link">
								<img src="#" alt="techy" height="50" width="50">
							</a>
						</div>
						<div>
							<a href="#" class="image-link">
								<h2>Web Developer: Shubham Chadokar</h2>
							</a>
							<p class="description">Interview with Ellen Twomey on the You are techY Podcast</p>
						</div>
					</div>
					<div class="guide">
						<div>
							<a href="#" class="image-link">
								<img src="#" alt="techy" height="50" width="50">
							</a>
						</div>
						<div>
							<a href="#" class="image-link">
								<h2>Web Developer: Shubham Chadokar</h2>
							</a>
							<p class="description">Interview with Ellen Twomey on the You are techY Podcast</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div> -->

	<div id="Talks">
		<div class="container">
			<section class="interview space">
				<div class="artheader">
					<h3>Talks</h3>
				</div>
				<div class="guide-page">
					<div class="guide">
						<div>
								<img src="https://pbs.twimg.com/profile_images/1156811005747445760/6B5N62cI_400x400.png" alt="go" height="50" width="50">
						</div>
						<div>
							<a href="https://www.youtube.com/watch?v=RMuSLjRracc" class="image-link" target="_blank">
								<h2>July 2020 London Gophers</h2>
							</a>
							<p class="description">
								Link to the <a href="https://docs.google.com/presentation/d/1YfE729FYfMggoT0__htseG3r6UOm2vDwMVSK0Ydy9S0/edit?usp=sharing">presentation</a> and <a href="https://www.youtube.com/watch?v=RMuSLjRracc">youtube</a>.
							</p>
						</div>
					</div>
					<div class="guide">
						<div>
								<img src="https://pbs.twimg.com/profile_images/1194129550956908545/0Zplc4Bg_400x400.jpg" alt="go" height="50" width="50">
						</div>
						<div>
								<h2>May 2020 Pune Gophers</h2>
								<p class="description">Link to the <a href="https://docs.google.com/presentation/d/1knPYGk3SWjssZ9DBVfkUurATVoHJ9WkGyU_htBam-as/edit?usp=sharing">presentation</a>.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div id="Newsletter">
		<div class="container">
			<section class="newsletter space">
				<div class="artheader">
					<h3>Newsletter</h3>
				</div>
				<div>
					<p>I send out an email when I create something new.</p>
					<a href="/newsletter/" class="button"><span class="emoji">💌</span> Get the Newsletter</a>
				</div>
			</section>
		</div>
	</div>

	<div class="d-none">
		{{- partial "homepage-body.html" . -}}
		{{- $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) -}}
		{{- partial "note-list.html" $paginator -}}
		{{- partial "pagination.html" $paginator -}}
	</div>
{{- end -}}
